

<div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
<div class="wrapper">
    <div #slideElement class="container left" id="leftElem">
        <a class="showIcon" (click)="showOrHide($event, 'leftElem')">Collapse</a>
        <app-container-card>
            <div class="show-element">
                <p>List menu</p>
            </div>
        </app-container-card>
    </div>
    <div class="container center">
        <a class="showIcon">&nbsp;</a>
        <app-container-card>
            <div class="show-element">
                <p>Draw Components</p>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default" droppable
                    (onDrop)="onItemDrop($event)">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="list-group-item">
                            <a class="anchor-link">Start</a>
                        </div>
                        <div *ngFor="let item of droppedItems"
                            class="list-group-item"
                            (click)="getProperties(item.name)"
                            [class.add-connection]="droppedItems.length>0"><a
                                class="anchor-link">{{item.name}}</a></div>
                    </div>
                </div>
            </div>
        </app-container-card>
    </div>
    <div #slideElement id="rightElem" class="container right">
        <a class="showIcon" (click)="showOrHide($event, 'rightElem')">Collapse</a>
        <app-container-card>
            <div class="show-element">
                <h3>Available Components</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li draggable *ngFor="let item of items"
                                [dragData]="item" class="list-group-item">{{item.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </app-container-card>
    </div>
    <div class="row-container">
        &nbsp;
    </div>

    <div #slideElement id="bottomElem" class="container bottom">
        <a class="showIcon" (click)="showOrHide($event, 'bottomElem')">Collapse</a>
        <app-container-card>
            <div class="show-element">
                <h1>Properties list</h1>
                {{showingProperty}}
            </div>
        </app-container-card>
    </div>
</div>