.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 2vw auto 0;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    .container {
        .showIcon {
            width: 24px;
            height: 24px;
            cursor: pointer;
            margin-bottom: 10px;
        }
        margin: 0 auto;
        height: 55vh;
        display: inline-block;
        &.left,
        &.right {
            width: 18vw;
        }
        &.left {
            margin-left: 1vw;
        }
        &.right {
            margin-right: 1vw;
        }
        &.center {
            min-width: 58vw;
            margin: 0 1vw;
            flex: 1 0 0;
        }
        &.bottom {
            height: 30vh;
            width: 98vw;
            margin: 0 1vw;
        }
        .col-sm-12,
        .panel-default {
            height: inherit;
            .panel-body {
                .list-group-item {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 50px;
                    cursor: pointer;
                    &.add-connection {
                        margin-left: 50px;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -50px;
                            height: 3px;
                            width: 50px;
                            background: #000;
                        }
                        &:after {
                            position: absolute;
                            content: "";
                            display: inline-block;
                            width: 0.4em;
                            height: 0.4em;
                            border-right: 0.2em solid black;
                            border-top: 0.2em solid black;
                            transform: rotate(45deg);
                            margin-right: 0.5em;
                            top: 43%;
                            left: -12px;
                        }
                    }
                }
            }
        }
        &.showElement {
            &.right {
                width: 5vw;
            }
            &.left {
                width: 5vw;
            }
            &.bottom {
                // display: none;
                height: 5vh;
            }
        }
    }
    .row-container {
        margin: 10px 0;
        flex-basis: 100%;
        width: 0;
    }
}

::ng-deep {
    app-container-card {
        height: inherit;
    }
}
