

<div id="div2" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
<div class="wrapper">
    <div #slideElement class="container left" id="leftElem">
        <a class="showIcon" (click)="showOrHide($event, 'leftElem')">Collapse</a>
        <app-container-card>
            <div class="show-element">
                <p>Left element</p>
            </div>
        </app-container-card>
    </div>
    <div class="container center">

        <a class="showIcon">&nbsp;</a>
        <app-container-card>
            <div class="show-element">
                <p>Dropping Elements</p>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default" droppable
                    (onDrop)="onItemDrop($event)">
                    <div class="panel-heading">Drop Items here</div>
                    <div class="panel-body">
                        <li *ngFor="let item of droppedItems"
                            class="list-group-item">{{item.name}}</li>
                    </div>
                </div>
            </div>
        </app-container-card>
    </div>
    <div #slideElement id="rightElem" class="container right">
        <a class="showIcon" (click)="showOrHide($event, 'rightElem')">Collapse</a>
        <app-container-card>
            <div class="show-element">
                <!-- <ng-container *ngFor="let element of rightElement">
                    <div class="element-container">
                        {{ element.value}}
                    </div>
                </ng-container> -->
                <h3>Transfer Data via Drag Drop</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <li draggable *ngFor="let item of items"
                                [dragData]="item" class="list-group-item">{{item.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </app-container-card>
    </div>
    <div class="row-container">
        &nbsp;
    </div>

    <div #slideElement id="bottomElem" class="container bottom">
        <a class="showIcon" (click)="showOrHide($event, 'bottomElem')">Collapse</a>
        <app-container-card>
            <div class="show-element">
                <p>Bottom element</p>
            </div>
        </app-container-card>
    </div>
</div>